{
  "openapi": "3.1.0",
  "info": {
    "title": "Passport API",
    "version": "0.1.0",
    "description": "Tamper-evident behavioral receipts for AI agents. Hash-only storage, ed25519 signatures, public verification."
  },
  "servers": [
    { "url": "https://passport.metis.gold", "description": "Production" }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Database liveness probe",
        "responses": { "200": { "description": "OK" }, "503": { "description": "Database unavailable" } }
      }
    },
    "/api/v1/public-key": {
      "get": {
        "summary": "Published ed25519 verifying key",
        "responses": { "200": { "description": "Public key hex" } }
      }
    },
    "/api/v1/leaderboard": {
      "get": {
        "summary": "Agent evidence leaderboard",
        "parameters": [{ "name": "limit", "in": "query", "schema": { "type": "integer", "maximum": 100 } }],
        "responses": { "200": { "description": "Leaderboard rows" } }
      }
    },
    "/api/v1/profiles/{hash}": {
      "get": {
        "summary": "Agent profile by commitment hash",
        "parameters": [{ "name": "hash", "in": "path", "required": true, "schema": { "type": "string", "pattern": "^[0-9a-f]{64}$" } }],
        "responses": { "200": { "description": "Agent profile" }, "404": { "description": "Not found" } }
      }
    },
    "/api/v1/receipts": {
      "get": {
        "summary": "Search receipts (operator auth)",
        "parameters": [
          { "name": "domain", "in": "query", "schema": { "type": "string" } },
          { "name": "status", "in": "query", "schema": { "type": "string" } },
          { "name": "from", "in": "query", "schema": { "type": "string", "format": "date" } },
          { "name": "to", "in": "query", "schema": { "type": "string", "format": "date" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "maximum": 100 } }
        ],
        "responses": { "200": { "description": "Receipt list" } }
      },
      "post": {
        "summary": "Issue a pending signed receipt",
        "responses": { "201": { "description": "Receipt issued" }, "401": { "description": "Unauthorized" } }
      }
    },
    "/api/v1/receipts/{id}/finalize": {
      "post": {
        "summary": "Finalize receipt with outcome",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Receipt finalized" } }
      }
    },
    "/api/v1/receipts/{id}/revoke": {
      "post": {
        "summary": "Revoke a receipt",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Receipt revoked" }, "409": { "description": "Already revoked" } }
      }
    },
    "/api/v1/receipts/{id}/public-manifest": {
      "get": {
        "summary": "Masked public receipt manifest",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Public manifest" } }
      }
    },
    "/api/v1/gate/verify": {
      "post": {
        "summary": "Verify gate pass for operator + domain",
        "responses": { "200": { "description": "Gate result" } }
      }
    },
    "/api/v1/passport/agents/enroll/start": {
      "post": {
        "summary": "Start agent enrollment",
        "responses": { "200": { "description": "Challenge nonce" } }
      }
    },
    "/api/v1/passport/agents/enroll/complete": {
      "post": {
        "summary": "Complete enrollment with signed challenge",
        "responses": { "200": { "description": "Issued passport" } }
      }
    },
    "/api/v1/passport/agents/{id}/evidence": {
      "get": {
        "summary": "Query evidence entries",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "source_type", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Evidence list" } }
      },
      "post": {
        "summary": "Ingest enrolled evidence",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "201": { "description": "Evidence ingested" } }
      }
    },
    "/api/v1/passport/agents/{id}/passport": {
      "get": { "summary": "Read enrollment passport", "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Passport" } } }
    },
    "/api/v1/passport/agents/{id}/credits": {
      "get": { "summary": "Public AngelCoin balances", "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Balances" } } }
    },
    "/api/v1/operator/status": {
      "get": { "summary": "Operator dashboard status", "responses": { "200": { "description": "Operator status" } } }
    },
    "/api/v1/operator/api-keys": {
      "get": { "summary": "List API keys", "responses": { "200": { "description": "Key list" } } },
      "post": { "summary": "Create API key", "responses": { "201": { "description": "Key created with raw key" } } }
    },
    "/api/v1/operator/api-keys/{keyHash}": {
      "delete": { "summary": "Delete API key", "parameters": [{ "name": "keyHash", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "204": { "description": "Deleted" } } }
    },
    "/api/v1/operator/slashing-ledger": {
      "get": { "summary": "Slashing history", "parameters": [{ "name": "tranche", "in": "query", "schema": { "type": "string" } }], "responses": { "200": { "description": "Slashing entries" } } }
    },
    "/api/v1/badge/{hash}": {
      "get": { "summary": "Agent badge SVG", "parameters": [{ "name": "hash", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "SVG badge" } } }
    },
    "/api/v1/webhooks": {
      "get": { "summary": "List webhook subscriptions", "responses": { "200": { "description": "Subscription list" } } },
      "post": { "summary": "Create webhook subscription", "responses": { "201": { "description": "Subscription created" } } }
    },
    "/api/v1/webhooks/{id}": {
      "delete": { "summary": "Delete webhook subscription", "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "204": { "description": "Deleted" } } }
    },
    "/api/auth/login": {
      "post": { "summary": "Login with email + password", "responses": { "200": { "description": "Session created" } } }
    },
    "/api/auth/signup": {
      "post": { "summary": "Create account", "responses": { "201": { "description": "Account created" } } }
    },
    "/api/auth/session": {
      "get": { "summary": "Check session", "responses": { "200": { "description": "Session valid" }, "401": { "description": "Not authenticated" } } }
    }
  }
}